<!DOCTYPE html>
html(lang="en")
    head
        include partials/headers
    body.login
        .contenedor-formulario
            h1 Crea tu cuenta

            //- Para mostrar los errores, error es un objeto, sacar message
            if locals.errores
                each error in errores
                    p.error.alerta= error.message

            form#formulario.caja.caja-login(method="POST" action="/crear-cuenta")
                .campo
                    label(for="email") E-mail:
                    input(type="email" name="email" placeholder="Tu Email" required)
                .campo
                    label(for="password") Password:
                    input(type="password" name="password" placeholder="Tu Password" required)
                .campo.enviar
                    input.boton(type="submit" value="Crear Cuenta")
                .campo
                    a(href="/iniciar-sesion") Volver a Iniciar Sesión

        script(src="/dist/bundle.js")