<!DOCTYPE html>
html(lang="en")
    head
        include partials/headers
    body.login
        .contenedor-formulario
            h1 Crea tu cuenta

            form#formulario.caja.caja-login(method="POST" action="/crear-cuenta")
                .campo
                    label(for="email") E-mail:
                    input(type="email" name="email" placeholder="Tu Email")