<!DOCTYPE html>
html(lang="en")
    head
        include partials/headers
    body.login
        .contenedor-formulario
            h1 Iniciar Sesión

            if error
                p.alerta.error= error

            form#formulario.caja.caja-login(method="POST" action="/iniciar-sesion")
                //- Los campos value van sin comillas, porq en caso de equivocarse no se borran lo que escribio el usuario
                .campo
                    label(for="email") E-mail:
                    input(type="email" name="email" placeholder="Tu Email" value=email required)
                .campo
                    label(for="password") Password:
                    input(type="password" name="password" placeholder="Tu Password" value=password required)
                .campo.enviar
                    input.boton(type="submit" value="Iniciar Sesión")
                .campo.acciones
                    a(href="/crear-cuenta") ¿Aún no tienes cuenta? Crear una Cuenta

                    a(href="/reestablecer") ¿Olvidaste tu contraseña?

        script(src="/dist/bundle.js")