html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="/css/app.css")
        title Document
    body
        header.barra
            h1 Barra de Tareas, Administrador de Proyectos
            a(href="#") Cerrar Sesión


        block contenido