html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="/css/app.css")
        title #{nombrePagina}
    body
        header.barra
            h1 Barra de Tareas, Administrador de Proyectos
            a(href="#") Cerrar Sesi칩n

        main.contenedor
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="#" class="boton") Nuevo proyecto
                    span +
                .panel.lista-proyectos
                    h2 Proyectos
                    ul#proyectos.proyectos
                        li
                            a(href="#") Dise침o de tienda virtual
                        li
                            a(href="#") Dise침o de nuevo blog
                        li
                            a(href="#") Dise침o de tienda logotipo
        block contenido