html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/normalize.css")
        link(rel="stylesheet" href="/css/app.css")
        title #{nombrePagina}
    body
        header.barra
            h1 Barra de Tareas, Administrador de Proyectos
            a(href="#") Cerrar Sesión

        main.contenedor
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="/nuevo-proyecto" class="boton") Nuevo proyecto
                    span +
                .panel.lista-proyectos
                    h2 Proyectos
                    ul#proyectos.proyectos
                        if(proyectos.length)
                            each proyecto in proyectos
                                li 
                                    a(href=`/proyectos/${proyecto.url}`)= proyecto.nombre

            block contenido
                pre = vardump(proyectos)
        
        script(src="./dist/bundle.js")
        