<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1= AgregarPagina
            p Agrega tu email para reestablecer la contraseña
            form.caja-login(method="POST" action="/reestablecer")
                .campo
                    label(for="email") E-mail:
                    input(type="email" name="email" placeholder="Tu Email" value=email required)                
                .campo.enviar
                    input.boton(type="submit" value="Reestablecer Password")
                .campo.acciones
                    a(href="/iniciar-sesion") Ya lo recordé, volver a Login