<!DOCTYPE html>
html(lang="en")
    head
        include partials/headers
    body.login
        .contenedor-formulario
            h1= nombrePagina            
            p Coloca tu nuevo password

            form.caja-login(method="POST")
                .campo
                    label(for="password") Password:
                    input(type="password" name="password" placeholder="Tu password")                
                .campo.enviar
                    input.boton(type="submit" value="Reestablecer Password")