<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
    body
        h2 Confirma tu Cuenta
        p Estas casí registrado, apreta el botón para confirmar 
        a(href=`${confirmarUrl}`) Confirmar cuenta
        p Si no puedes acceder a este enlace visita #{confirmarUrl}
        p Si no solicitaste este email, puedes ignorarlo
        