<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h2 Reestablecer Password
        p Hola has solicitado reestablecer tu password, haz click en el siguiente enlace para reestablecerlo, este enlace es temporal a(href=`${resetUrl}`)
        